@tailwind base;
@tailwind components;
@tailwind utilities;


.drawer-side a.active {
    color: red;
    background-color: transparent !important;
  }
  
  .drawer-side a:hover {
    background-color: transparent;
  }